[submodule "external/ffmpeg"]
	path = external/ffmpeg
	url = https://github.com/aveq-research/ffmpeg.git
[submodule "external/libaom"]
	path = external/libaom
	url = https://github.com/aveq-research/libaom.git
